@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Button {
    font-size: large;
    background-color: transparent;

    border: solid 1px black;
    border-radius: 5px;

    padding: 7px 15px;

    transition: linear 0.3s;

    color: black;
}

.Button:hover {
    background-color: black;
    color: white;
}

.NavBarButton {
    font-size: x-large;
    color: white;
    border: solid 2px white;
}

.NavBarButton:hover {
    background-color: white;
    color: black;
}

.ActiveButton {
    color: greenyellow;
    border-color: greenyellow;
}

.ActiveButton:hover {
    color: black;
    background-color: greenyellow;
}
